#inmodal{
  margin-left:70px;
} */
 /* .hello{
  padding:0;
} 

#inmodal{
  width: 100%;
  height: auto;
}
  /* max-width: 400px; */
 

 /* img{
   width: 100%; 
  max-width: 400px;
  height: auto;
}  */

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal{
  width: 100%;
}

.img-holder {
  padding: 0;
  overflow: hidden;
  box-shadow: 2px 4px 12px 2px #161616;
}

img-holder img {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* .column {
  float: left;
  width: 33.33%;
  padding: 5px;
} */

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;

}
li a:hover {
  background-color: #555;
  color: white;

}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 .modal{
   width:100%;
 }
 .modal img{
   width: 100%;
   height: auto;
 }

 /* form{
   width:500px;
 } */

 input[type=text]{
   width: 500px;
   background-color:#472C1B;
   color:#B28723;
    /* pa-right: 00px;  */
   /* width: 40%; */
   box-shadow:2px 2px 5px black;
    margin-left: 40px; 
    margin-top:5px;
 }
 #hey{
   width:300px;
  
   margin-top:4px;
   height: 250px;
 }

 .navbar-right{
   margin-right: 25px;
   margin-top: -10px;
 }

body{
  background-color: #212121;
  font-family: 'Acme', sans-serif;
  color: #B28723;
}
.hh{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: stretch;
 flex-grow: inherit;
}




/* 
@media (min-width: 992px) {
    #navMain {
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        -moz-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        letter-spacing: 1px;
        background: #222;
    }
    #navMain .nav-link.active {
        outline: none;
        background-color: rgba(26, 25, 24, 0.699);
    }
    #navMain .nav-link.active:hover {
        color: white;
        background-color: rgba(230, 210, 97, 0.637)
    }
    #navMain.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #222;
        border-bottom: 1px solid red;
    }
    #navMain.navbar-shrink a {
        color: rgba(16, 230, 184, 0.973);
    }
}

/* Search section */

.search-section {
    padding-top: 6rem;
}

.search-form form {
    display: flex;
    justify-content: center;
}

.search-input {
    width: 15rem;
    border: 0;
    border-radius: 0;
    background-color: #40404121;
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.search-input:hover {
    border-bottom: 1px solid black;
}

.search-input:focus {
    transform: scaleX(1.1);
    border: 0 transparent;
    border-bottom: 1px black;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} */

/* Displaying images */



 