<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class=" navbar-inverse" style="color:cadetblue; background-color:black;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'picToday' %}" style="color:cadetblue;">Slika</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="/location/1">France,Paris</a>
      <a href="/location/2">Rwanda,Kigali</a>
      <a href="/location/3">New york</a>
      <a href="/location/4">SA,Johanesburg</a>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 navbar-right">
  <form class="navbar-form" role="search" action="{% url 'search_results' %}" style="width:500px;">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search category" name="image">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>

  
  
</div>

</nav>
</body>
</html>